{% extends 'accounts/main.html' %} {% load static %} {% block title %} Form {% endblock title %} {% block content %}

<br />
<div class="row m-1">
  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="post">
        {% csrf_token %} 
        {{formset.management_form}}
        
        {% for form in formset %}
        {{form}} <hr>
        {% endfor %}
          
        <input class='btn btn-sm btn-primary' type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>

{% endblock content %}


{% comment %} pt-11  {% endcomment %}